bin/tempo-zone/ @0xKitsune @mattsse @klkvr
bin/prover/ @rkrasiuk @shekhirin
crates/chainspec/ @0xrusowsky @0xKitsune @klkvr @mattsse
crates/contracts/ @0xrusowsky @0xKitsune @klkvr @mattsse @legion2002 @0xalpharush
crates/evm/ @0xrusowsky @klkvr @0xKitsune
crates/hardfork/ @0xrusowsky @legion2002 @klkvr
crates/l1/ @0xKitsune @mattsse @klkvr @0xrusowsky @adityapk00
crates/node/ @mattsse @0xKitsune @klkvr @0xrusowsky @adityapk00 @legion2002
crates/p2p/ @adityapk00 @legion2002 @klkvr
crates/payload/ @mattsse @0xKitsune @0xrusowsky @adityapk00 @klkvr
crates/precompiles/ @0xrusowsky @0xKitsune @klkvr @mattsse @legion2002
crates/primitives/ @mattsse @0xKitsune @0xrusowsky @klkvr
crates/prover/ @rkrasiuk @shekhirin
crates/rpc/ @mattsse @0xKitsune @klkvr @adityapk00
crates/sequencer/ @mattsse @0xKitsune @adityapk00 @rkrasiuk @klkvr
crates/spf/ @rkrasiuk @shekhirin @klkvr
xtask/ @mattsse @0xKitsune @adityapk00 @klkvr @legion2002
zone-genesis/ @mattsse @0xKitsune @klkvr @0xrusowsky
specs/ @dankrad @danrobinson
