**/.git
contrib/*
!contrib/loadtest/
!contrib/loadtest/**
!contrib/bench/
contrib/bench/*
!contrib/bench/neobank/
!contrib/bench/neobank/**
docs/
localnet/
scripts/*
!scripts/run-prover-host.sh
target/
