[submodule "specs/ref-impls/lib/tempo-std"]
	path = specs/ref-impls/lib/tempo-std
	url = https://github.com/tempoxyz/tempo-std
[submodule "specs/ref-impls/lib/forge-std"]
	path = specs/ref-impls/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
